node_modules/
bower_components/
.sass-cache/
.tmp/
.vagrant/
dist/
.idea/
.DS_Store
*.xml
*.iml
reports/

deploy_key
deploy_key.pub
dist.tar.gz
deploy/*.ver
deploy/upstream.conf
*.pem
*.tar.gz
to_upload/
dist-*/
*.pyc
npm-debug.log
src/b.store/middleware/
